.bg-img {
    background-size: cover !important;
    background-position: center center !important;
}

.testimonial-image {
    max-width: 400px;
    height: auto;
    display: inline-block;
}

.section-parallax {
    background-size: cover !important;
}

.modal-body h5,
.modal-header h5 {
    font-size: 1.2em;
}

.d-flex{
    display: flex;
    justify-content: space-between;
}
